Repository caio1902araujo/barcode-flow: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'pnpm types:check', eslint --fix, prettier -w

feat(adding config husky): adding config husky
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
Due: bash -c 'pnpm types:check', eslint --fix, prettier -w

chore(package.json): adding script run commit
  package.json
Due: prettier -w

Update README.md
  README.md
Due: prettier -w

feat(style): Adding variables css
  src/app/page.tsx
  src/styles/globals.css
  tailwind.config.ts
Due: bash -c 'pnpm types:check', eslint --fix, prettier -w

style(tailwind): remove variable
  tailwind.config.ts
Due: bash -c 'pnpm types:check', eslint --fix, prettier -w

style(globals): Change varaible color primary and primary-foreground
  src/styles/globals.css
Due: none

chore(package.json): adding package slot
  package.json
  pnpm-lock.yaml
Due: prettier -w

style(config): change varible rounded
  tailwind.config.ts
Due: bash -c 'pnpm types:check', eslint --fix, prettier -w

feat(button): adding component button
  src/components/ui/button/index.tsx
  src/components/ui/button/styles.ts
Due: bash -c 'pnpm types:check', eslint --fix, prettier -w

feat(sheet): cretae trigger of sheet component
  package.json
  pnpm-lock.yaml
  src/components/ui/sheet/trigger.tsx
Due: bash -c 'pnpm types:check', eslint --fix, prettier -w

feat(sheet): create root of sheet component
  src/components/ui/sheet/root.tsx
Due: bash -c 'pnpm types:check', eslint --fix, prettier -w

chore(package): added lucid icons
  package.json
  pnpm-lock.yaml
Due: prettier -w

feat(page): added qrcode
  package.json
  src/app/page.tsx
Due: bash -c 'pnpm types:check', eslint --fix, prettier -w

feat(sheet): created style of sheet component
  src/app/page.tsx
  src/components/ui/sheet/content.tsx
Due: bash -c 'pnpm types:check', eslint --fix, prettier -w

refactor(sheet): change file to correct name
  src/components/ui/sheet/style.tsx
Due: bash -c 'pnpm types:check', eslint --fix, prettier -w

feat(config): alter config husky
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
  src/components/ui/tab-card/index.ts
  src/components/ui/tab-card/root.tsx
  src/components/ui/tab-card/styles.ts
  src/components/ui/tab-card/trigger.tsx
Due: bash -c 'pnpm types:check', eslint --fix, prettier -w

feat(sheet): created overlay of sheet component
  src/components/ui/sheet/overlay.tsx
Due: bash -c 'pnpm types:check', eslint --fix, prettier -w

feat(sheet): create content section to sheet component
  src/components/ui/sheet/content.tsx
Due: bash -c 'pnpm types:check', eslint --fix, prettier -w

feat(sheet): created base of the sheet component
  src/components/ui/sheet/index.tsx
Due: bash -c 'pnpm types:check', eslint --fix, prettier -w

chore(package): added tailwind animated library
  package.json
  pnpm-lock.yaml
  src/app/page.tsx
  tailwind.config.ts
Due: bash -c 'pnpm types:check', eslint --fix, prettier -w

chore(gitignore): put lock file in gitignore
  .gitignore
Due: none

chore(lock): lock file deleted
  pnpm-lock.yaml
Due: none

chore(husky): change package manager
  .husky/pre-commit
  .husky/prepare-commit-msg
Due: none

chore(husky): change config husky
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  package.json
  src/app/layout.tsx
  src/app/page.tsx
Due: bash -c 'pnpm types:check', eslint --fix, prettier -w

chore(husky): change commands husky
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
Due: none

chore(package): remove command commit
  package.json
Due: prettier -w

feat(tabs): adding component tab card and simple
  src/components/ui/tab/content.tsx
  src/components/ui/tab/index.ts
  src/components/ui/tab/list.tsx
  src/components/ui/tab/root.tsx
  src/components/ui/tab/styles.ts
  src/components/ui/tab/trigger.tsx
  src/contexts/tab-styles-context/index.tsx
  src/contexts/tab-styles-context/types.ts
Due: bash -c 'pnpm types:check', eslint --fix, prettier -w

refactor(tabs): remove old files
  src/components/ui/tab-card/index.ts
  src/components/ui/tab-card/root.tsx
  src/components/ui/tab-card/styles.ts
  src/components/ui/tab-card/trigger.tsx
Due: bash -c 'pnpm types:check', eslint --fix, prettier -w

refactor(sheet): remove use client
  src/components/ui/sheet/content.tsx
  src/components/ui/sheet/root.tsx
  src/components/ui/sheet/trigger.tsx
Due: bash -c 'pnpm types:check', eslint --fix, prettier -w

style(globals): change css variable foreground
  src/styles/globals.css
Due: none

feat(sheet): created header to sheet component
  src/app/page.tsx
  src/components/ui/sheet/header.tsx
  src/components/ui/sheet/index.tsx
  src/components/ui/sheet/style.tsx
Due: bash -c 'pnpm types:check', eslint --fix, prettier -w

chore(sheet): sheet
  src/components/ui/sheet/content.tsx
  src/components/ui/sheet/root.tsx
  src/components/ui/sheet/trigger.tsx
  src/components/ui/tab-card/index.ts
  src/components/ui/tab-card/root.tsx
  src/components/ui/tab-card/styles.ts
  src/components/ui/tab-card/trigger.tsx
  src/components/ui/tab/content.tsx
  src/components/ui/tab/index.ts
  src/components/ui/tab/list.tsx
  src/components/ui/tab/root.tsx
  src/components/ui/tab/styles.ts
  src/components/ui/tab/trigger.tsx
  src/contexts/tab-styles-context/index.tsx
  src/contexts/tab-styles-context/types.ts
  src/styles/globals.css
Due: bash -c 'pnpm types:check', eslint --fix, prettier -w

feat(sheet): created title to sheet component
  src/app/page.tsx
  src/components/ui/sheet/index.tsx
  src/components/ui/sheet/style.tsx
  src/components/ui/sheet/title.tsx
Due: bash -c 'pnpm types:check', eslint --fix, prettier -w

feat(sheet): created description to sheet component and finish it
  src/app/page.tsx
  src/components/ui/sheet/description.tsx
  src/components/ui/sheet/index.tsx
  src/components/ui/sheet/style.tsx
Due: bash -c 'pnpm types:check', eslint --fix, prettier -w

feat(app): added favicon
  src/app/favicon.ico
  src/assets/logo.svg
Due: none

feat(slider): created slider component
  package.json
  src/components/ui/slider/root.tsx
  src/components/ui/slider/style.tsx
  src/components/ui/slider/track.tsx
Due: bash -c 'pnpm types:check', eslint --fix, prettier -w

refactor(slider): component cleaning
  src/components/ui/slider/track.tsx
Due: bash -c 'pnpm types:check', eslint --fix, prettier -w

chore(package.json): adding package component navigation menu
  package.json
Due: prettier -w

feat(menu): adding component menu
  src/components/ui/menu/index.tsx
  src/components/ui/menu/item.tsx
  src/components/ui/menu/list.tsx
  src/components/ui/menu/root.tsx
  src/components/ui/menu/style.ts
Due: bash -c 'pnpm types:check', eslint --fix, prettier -w

feat(input): created input component
  src/app/page.tsx
  src/components/ui/input.tsx/index.tsx
  src/components/ui/input.tsx/style.tsx
Due: bash -c 'pnpm types:check', eslint --fix, prettier -w

Path conditions:
  bash -c 'pnpm types:check': any of: *.{ts,tsx}
  eslint --fix: any of: *.{ts,tsx}
  prettier -w: (any of: *.{ts,tsx}) or (any of: *.{md,json})
